<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Chukwuemeka EchetalDike - CV</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    /*<link rel="stylesheet" href="app.component.css">*/
  </head>
  <body>
    <div class="container">
      <header>
        <h1>Chukwuemeka EchetalDike</h1>
        <h2>Software Developer & Data Analyst</h2>
      
      </header>
      <main>
        <section id="about">
          <h2>About</h2>
          <p>I am a software developer and data analyst based in Lagos, Nigeria. I am passionate about using data to drive business decisions and solve problems. I have experience working with SQL, Python, Pandas, scikit-learn, and Tableau. </p>
          <p>You can reach me at <a href="mailto:echetaldikee@gmail.com">echetaldikee@gmail.com</a> or <a href="tel:+2349131442364">+234 9131442364</a>.</p>
        </section>
        <section id="experience">
          <h2>Experience</h2>
          <article>
            <h3>Market Research Analyst Intern</h3>
            <p><strong>Ceci Mega Plaza</strong> - April 2018 - March 2019</p>
          </article>

          <h2>Education</h2>
          <li>Diploma
            Software development
            National institute of
            information technology (NIIT)
            June 2022 - January 2023
            Lagos, Nigeria</li>

            <li>Diploma
              Data Analytics
              National institute of
              information technology (NIIT)
              January 2023 - current</li>



          <h2>Skills</h2>
          <li>Python</li>
            <li>Django</li>
            <li>Flask</li>
            <li>API</li>
            <li>Critical Thinking</li>
            <li>Python Libraries</li>
            <li>Linux</li>
            <li>CSS</li>
            <li>HTML</li>
            <li>Javascript</li>
            <li>Data Visualization: Excel, Google
              Sheets, Matplotlib, Tableau</li>
            <li>Programming: SQL, Python
              (Pandas, scikit-learn)</li>
          

          <h2>Projects</h2>
            <ul>
              <li>Built data visualizations using Tableau for KPIs that reduced manual reporting by 10 hours weekly</li>
              <li>Built an Artifical Intelligence Assitant with Python</li>
              <li>Built a Database management system and application forr a coffee shop</li>
              <li>Built an E-commece web application in Django and Python</li>
              